body {
  color: theme-color("dark");
  font-size: 16px;
  line-height: 1.5;

  border-color: theme-color("gray");
  border-radius: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

.hide-scrollbar {
  @include hide-scrollbar();
}

.avatar {
  @include avatar(50px);
  margin-top: 5px;
  margin-bottom: 4px;
}

a:hover {
  text-decoration: none;
  background-color: theme-color();
}

a:hover .color-dark {
  color: theme-color("light");
}

a:hover .color-secondary {
  color: theme-color("gray");
}

.text-hidden {
  overflow: hidden;

  white-space: nowrap;
  text-overflow: ellipsis;
}

.font-size-0 {
  font-size: 0;
}

.lh-19 {
  line-height: 19px;
}

.opacity-05 {
  opacity: 0.5;
}

.rg-50px {
  row-gap: 50px;
}

.rg-19px {
  row-gap: 19px;
}

.rg-3 {
  row-gap: $spacer;
}

.cg-7 {
  column-gap: $spacer * 2.5;
}

.cg-4 {
  column-gap: $spacer * 1.5;
}

.cg-2 {
  column-gap: $spacer * 0.5;
}

.h-91 {
  height: 91px;
}

.pb-8 {
  padding-bottom: $spacer * 0.875;
}

@media (min-width: 768px) {

  .overflow-md-hidden {
    overflow: hidden;
  }

  .cg-md-1 {
    column-gap: $spacer * 0.25;
  }

  .cg-md-2 {
    column-gap: $spacer * 0.5;
  }

  .cg-md-6 {
    column-gap: $spacer * 2;
  }

  .font-size-md-12 {
    font-size: 12.8px;
  }

  .h-md-auto {
    height: auto;
  }
}

@media (min-width: 992px) {
  .cg-lg-3 {
    column-gap: $spacer;
  }
}
