.bg-color {
  &-gray {
    background-color: theme-color("gray");
  }

  &-white {
    background-color: theme-color("white");
  }
}

.color {
  &-light {
    color: theme-color("light");
  }

  &-dark {
    color: theme-color("dark");
  }

  &-secondary {
    color: theme-color("secondary");
  }
}

@media (min-width: 768px) {
  .bg-color-md {
    &-gray {
      background-color: theme-color("gray");
    }
  }
}
