div(class="d-flex align-items-center position-sticky p-3 mx-n4 mx-md-0 cg-4 cg-md-2")
  img(src="images/avatar_4.jpg" alt="Вениамин Редакторович" class="avatar")
  div(class="d-flex flex-column justify-content-between")
    div(class="font-weight-bold color-dark") Вениамин Редакторович
    div(class="small lh-19 color-secondary") Онлайн