include current-chat-header
div(class="hide-scrollbar h-100 w-100 h-md-auto py-5 px-4 px-md-0 px-lg-5")
  div(class="chat-message d-flex align-items-end cg-4 cg-md-1 cg-lg-3 mb-3")
    img(src="images/avatar_4.jpg" alt="Вениамин Редакторович" class="avatar d-none d-md-block")
    div(class="d-flex flex-column justify-content-between p-4 p-md-3 p-lg-4 radius bg-light shadow-sm")
      div(class="font-weight-bold color-dark pb-1") Вениамин Редакторович
      div(class="color-secondary pb-2 border-bottom") Да, я уже вышел и минут через 20-30 буду у тебя. Поеду на трамвае и потом в магазин. Тебе что-то захватить?
      div(class="small lh-19 color-secondary pt-1") 8 минут назад
  div(class="chat-message d-flex align-items-end justify-content-end cg-4 cg-md-1 cg-lg-3 mb-3 float-right")
    img(src="images/avatar_1.jpg" alt="Кодовёнок Хекслетович" class="avatar d-none d-md-block")
    div(class="d-flex flex-column justify-content-between p-4 p-md-3 p-lg-4 radius shadow-sm bg-primary")
      div(class="color-light pb-2 border-bottom") Захвати мне колы и пару печенек. Как-то очень сладкого хочется, а в магазин идти лень
      div(class="small lh-19 color-light pt-1") 5 минут назад
  div(class="chat-message d-flex align-items-end cg-4 cg-md-1 cg-lg-3 mb-3")
    img(src="images/avatar_4.jpg" alt="Вениамин Редакторович" class="avatar d-none d-md-block")
    div(class="d-flex flex-column justify-content-between p-4 p-md-3 p-lg-4 radius bg-light shadow-sm")
      div(class="font-weight-bold color-dark pb-1") Вениамин Редакторович
      div(class="color-secondary pb-2 border-bottom") Лады
      div(class="small lh-19 color-secondary pt-1") 5 минут назад
  div(class="chat-message d-flex align-items-end justify-content-end cg-4 cg-md-1 cg-lg-3 mb-3 float-right")
    img(src="images/avatar_1.jpg" alt="Кодовёнок Хекслетович" class="avatar d-none d-md-block")
    div(class="d-flex flex-column justify-content-between p-4 p-md-3 p-lg-4 radius shadow-sm bg-primary")
      div(class="color-light pb-2 border-bottom") А, слушай, купи мне ещё Macbook Pro. А то хочется работать в Хекслете, а там это условие
      div(class="small lh-19 color-light pt-1") 3 минут назад
  div(class="chat-message d-flex align-items-end cg-4 cg-md-1 cg-lg-3 mb-3")
    img(src="images/avatar_4.jpg" alt="Вениамин Редакторович" class="avatar d-none d-md-block")
    div(class="d-flex flex-column justify-content-between p-4 p-md-3 p-lg-4 radius bg-light shadow-sm")
      div(class="font-weight-bold color-dark pb-1") Вениамин Редакторович
      div(class="color-secondary pb-2 border-bottom") о_О
      div(class="small lh-19 color-secondary pt-1") Только что
include sending-message
